.card-grid-Hard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}
.card-grid-Easy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}
.card-grid-Medium {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}
.front-Hard {
  font-size: 70px;
  background-color: #c0392b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 19vh;
}
.front-Easy {
  font-size: 70px;
  background-color: #c0392b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 40vh;
}
.front-Medium {
  font-size: 70px;
  background-color: #c0392b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 20vh;
}
.back-Medium {
  background: #16a085;
  width: 24vw;
  height: 20vh;
}
.back-Hard {
  background: #16a085;
  width: 12vw;
  height: 19vh;
}
.back-Easy {
  background: #16a085;
  width: 24vw;
  height: 40vh;
}

.App {
  margin: 10px;
}
